@import url(https://fonts.googleapis.com/css?family=Helvetica+Neue:300,400,700);
/* @import url('https://fonts.cdnfonts.com/css/helvetica-neue-5'); */
@import url(https://fonts.googleapis.com/css?family=Inter);
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url('https://fonts.cdnfonts.com/css/varuna');
@import "tailwindcss";

@theme {
  --font-helvetica: 'Helvetica Neue', sans-serif;
  --font-dm: 'DM Sans', sans-serif;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-varuna: "VARUNA", sans-serif;

  --color-beige: #FFF2E0;
  --color-lightpastelblue: #C0C9EE;
  --color-pastelblue: #A2AADB;
  --color-darkpastelblue: #898AC4;
}
